{% extends 'base.html.twig' %}

{% block content %}
<h1>Inscription</h1>
<p>Formulaire d'inscription</p>

{# {{form(postForm)}} #}

{{ form_start(postForm) }}

        <div class="customform">
        {{ form_widget(postForm.email, { 'attr' : {
            'placeholder' : 'E-mail' }}) }}
        {{ form_errors(postForm.email) }}
        </div>
    <br> 
        <div class="customform">
        {{ form_widget(postForm.username, { 'attr' : {
            'placeholder' : 'Username' }}) }}
        {{ form_errors(postForm.username) }}
        </div>
    <br>
        <div class="customform">
        {{ form_widget(postForm.password, { 'attr' : {
            'placeholder' : 'Password' }}) }}
        {{ form_errors(postForm.password) }}
        </div>
    <br>

{{ form_end(postForm) }}

{% endblock %}